/*=====================================================================

TOC:
a. General Styles
b. Swiper-Slider styles
c. Video styles
h. Common styles

===================================================================== */


/*---------------------------------------------------------------------*/
/*General styles*/
/*---------------------------------------------------------------------*/
html, body {
    position: relative;
    height: 100%;
}

body {
    background: linear-gradient(to bottom, #07575b, #c4dfe6) no-repeat fixed;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

header {
    background: linear-gradient(to bottom, #07575b, #c4dfe6) no-repeat fixed;
    height: 115px;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 990;
}

section {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.8s ease, transform 0.8s ease;
}

section.in-view {
    opacity: 1;
    transform: translateY(0);
}

li {
    text-align: center;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

footer {
    color: #3c4753;
    font-size: 17px;
    line-height: 24px;
    position: relative;
}

img {
    max-width: 100%;
    border-radius: 10px
}

.oua-logo-img {
    width: 100px;
    height: auto;
}

/*---------------------------------------------------------------------*/


/*---------------------------------------------------------------------*/
/*Swiper-Slider styles*/
/*---------------------------------------------------------------------*/
.swiper {
    width: 900px;
    height: 600px;
}

.swiper {
    width: 100%;
    max-width: 900px;
    height: auto;
    margin: 0;
}

.swiper-button-next::after, .swiper-button-prev::after {
    font-size: 35px !important;
    font-weight: bold !important;
    color: #ffffff;
    opacity: 0.7 !important;
}

.swiper-button-next:hover::after, .swiper-button-prev:hover::after {
    color: #ffffff !important;
    opacity: 1 !important;
}

.swiper-pagination-bullet {
    margin-bottom: 40px !important;
    background-color: #ccc !important;
}

.swiper-pagination-bullet-active {
    background: #fff !important;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.mySwiper .swiper-slide {
    opacity: 0.4;
}

.mySwiper .swiper-slide-thumb-active {
    opacity: 1;
}

/*---------------------------------------------------------------------*/


/*---------------------------------------------------------------------*/
/*Video styles*/
/*---------------------------------------------------------------------*/
.video-yt {
    width: 900px;
    height: 600px;
    border-radius: 10px;
}

.img, .video {
    border-radius: 10px;
}

/*---------------------------------------------------------------------*/


/*---------------------------------------------------------------------*/
/*Common styles*/
/*---------------------------------------------------------------------*/
.wrapper {
    display: flex;
    justify-content: center;
}

.oua-logo-img {
    width: 100px;
    height: auto;
}

.img-documentary {
    border-radius: 10px;
    margin: 10px 0 10px 0;
}

.documentary-photo {
    display: grid;
    place-items: center;
}

.feature {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container-left-text {
    display: grid;
    place-items: center;
    width: 90%;
}

.six.columns.left.text {
    border-radius: 20px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.2);
    /*margin: 0 15px 0 15px;
    width: auto;*/
}

/*---------------------------------------------------------------------*/







