
@media only screen and (max-width: 1280px) {

    .container-left-text, .container-right-text{
        width: auto;
    }

    .margin-fixed-right {
        margin: 0 0 10px 0;
    }

    .margin-fixed-left{
        margin: 0 0 20px 0;
    }

    #margin-bottom,.img-misc, #margin-bottom-1, #margin-bottom-2, #margin-bottom-3, #margin-bottom-7{
        margin-bottom: 20px;
    }

    .dropdown-menu {
        position: relative;
        background: transparent;
    }

    header .logo {
        margin: 0 auto;
        position: fixed;
        left: 50%;
        transform: translate(-50%);
    }

    .logo-img {
        width: 180px;
        margin: 0 auto;
    }

    /* Go To Top Button */
    #go-top {
        position: absolute;
        top: -24px;
        left: 50%;
        margin-left: -30px;
        text-align: center;
        z-index: 889;
    }

    #go-top a {
        text-decoration: none;
        border: 0 none;
        display: block;
        width: 60px;
        height: 60px;
        background: #132B4A;

        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        -ms-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;

        color: #fff;
        font-size: 21px;
        line-height: 60px;
        border-radius: 100%;
    }

    #go-top a:hover {
        background: #365471;
    }

}

@media only screen and (max-width: 1199px) {
    .fixed-size {
        height: 110px;
        padding: 20px 30px;
    }
}

@media only screen and (max-width: 1034px) {
    .fixed-size {
        height: 110px;
        padding: 20px 30px;

    }

    .row .six {
        width: 90%;
    }
}

@media only screen and (max-width: 768px) {

    .kyivUN-logo {
        margin: 6px 0 0 0;
        width: 90px;
        height: auto;
    }

    header {
        background: linear-gradient(to bottom, #07575b, #c4dfe6) no-repeat fixed;
        height: 110px;
        width: 100%;
    }

    .row .six {
        width: 90%;
    }
}

    .dropdown-toggle:hover {
        color: #ffffff;
}






