@media only screen and (max-width: 900px) {
    section {
        opacity: unset;
        transform: unset;
        transition: unset;
    }

    body {
        text-align: left;
    }
}

@media only screen and (max-width: 1350px) {
    .video-yt {
        width: 650px;
        height: 440px;
    }

    .uk-navbar-nav {
        font-size: 14px;
    }

    a:hover {
    }

    @media only screen and (max-width: 1280px) {
        .uk-text-large {
            font-size: 16px;
        }

        .feature {
            flex-direction: column;
        }

        .container-left-text, .container-right-text {
            width: auto;
        }

        .margin-fixed-right {
            margin: 0 0 10px 0;
        }

        .margin-fixed-left {
            margin: 0 0 20px 0;
        }

        .img-misc {
            margin: 0 0 20px 0;
        }

        .dropdown-menu {
            position: relative;
            background: transparent;
        }

        /* Header Styles
        -------------------------------------------------------------------- */
        header .logo {
            margin: 0 auto;
            position: fixed;
            left: 50%;
            transform: translate(-50%);
        }

        .logo-img {
            width: 180px;
            margin: 0 auto;
        }

        /* Go To Top Button */
        #go-top {
            position: absolute;
            top: -24px;
            left: 50%;
            margin-left: -30px;
            text-align: center;
            z-index: 889;
        }

        #go-top a {
            text-decoration: none;
            border: 0 none;
            display: block;
            width: 60px;
            height: 60px;
            background: #132B4A;

            -webkit-transition: all 0.2s ease-in-out;
            -moz-transition: all 0.2s ease-in-out;
            -o-transition: all 0.2s ease-in-out;
            -ms-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;

            color: #fff;
            font-size: 21px;
            line-height: 60px;
            border-radius: 100%;
        }

        #go-top a:hover {
            background: #365471;
        }

    }

    @media only screen and (max-width: 1200px) {
        .uk-navbar-nav {
            font-size: 13px;
        }
    }
}

@media only screen and (max-width: 1199px) {
    .fixed-size {
        height: 110px;
        padding: 20px 30px;
    }
}

@media only screen and (max-width: 1034px) {
    .fixed-size {
        height: 130px;
        padding: 20px 30px;

    }

    .video-yt {
        width: 600px;
        height: 350px;
    }

    .row .six {
        width: 90%;
    }
}

@media only screen and (max-width: 878px) {
    .fixed-size {
        height: 160px;
    }

    .video-yt {
        width: 600px;
        height: 300px;
    }
}

@media only screen and (max-width: 768px) {
    .animated-text {
        width: 45.5rem;
        color: white;
        font-size: 35px;
        white-space: nowrap;
        overflow: hidden;
        border-right: 3px solid white;
        animation: cursor 0.95s step-end infinite, printed_text 5s steps(26);
    }

    .custom-button {
        font-size: 14px;
        padding: 15px 20px;
    }

    .wrapper-animated-text {
        top: 44%;
    }

    .kyivUN-logo {
        margin: 6px 0 0 0;
        width: 90px;
        height: auto;
    }

    header {
        background: linear-gradient(to bottom, #0A2B4B, #c3f3ff) no-repeat fixed;
        height: 110px;
        width: 100%;
    }

    .row .six {
        width: 90%;
    }
}

.dropdown-toggle:hover {
    color: #ffffff;
}

@media only screen and (max-width: 545px) {
    .mobile-size {
        padding: 10px;
        margin: 0 20px;
    }
}


@media only screen and (max-width: 520px) {
    .animated-text {
        width: 32.5rem;
        font-size: 25px;
    }

    .custom-button {
        font-size: 12px;
        padding: 15px 20px;
    }

    .wrapper-animated-text {
        top: 43%;
    }
}

@media only screen and (max-width: 395px) {
    .fixed-size {
        height: 180px;
    }

    .animated-text {
        width: 22.3rem;
        font-size: 17px;
    }

    .custom-button {
        font-size: 11px;
        padding: 15px 15px;
    }

    .wrapper-animated-text {
        top: 44%;
    }
}






