/* 
=====================================================================
*   Woo Media Queries
*   url: styleshout.com
*   05-02-2014
/* ================================================================== */

@media only screen and (max-width: 992px) {
    h3 {

    }
}

/* screenwidth less than or equal 900px
--------------------------------------------------------------------- */
@media only screen and (max-width: 900px) {

    /* General and Common Styles */
    .section-head h1 {
        font: 18px/30px 'montserrat-bold', sans-serif;
    }

    /* Header Styles
    ------------------------------------------------------------------ */
    header .header-social {
        font-size: 18px;
    }

    header .header-social li {
        margin-right: 15px;
    }

    /* nav-wrap */
    #nav-wrap {
        font: 10px 'montserrat-regular', sans-serif;
    }

    /* Features Section
    ------------------------------------------------------------------- */
    #features .feature {
        margin-bottom: 30px;
    }

    #features .right {
        padding-left: 18px;
    }

    /* Pricing Section
    ------------------------------------------------------------------- */
    .pricing-tables {
        width: 82%;
        margin: 0 auto;
    }

    /* Subscribe Section
    ------------------------------------------------------------------- */
    #subscribe h1 {
        margin-bottom: 18px;
    }

    /* Footer
    ------------------------------------------------------------------- */
    footer .right-cols .columns {
        width: 50% !important;
    }

    footer .right-cols .columns:last-child {
        clear: left;
        float: left;
    }

}

@media only screen and (max-width: 1350px) {
    .video-yt {
        width: 650px;
        height: 440px;
    }

    .uk-navbar-nav {
        font-size: 14px;
    }

    @media only screen and (max-width: 1280px) {

        .feature {
            flex-direction: column;
        }

        .container-left-text, .container-right-text {
            width: auto;
        }

        .margin-fixed-right {
            margin: 0 0 10px 0;
        }

        .margin-fixed-left {
            margin: 0 0 20px 0;
        }

        #margin-bottom {
            margin-bottom: 20px;
        }

        .img-misc {
            margin: 0 0 20px 0;
        }

        #margin-bottom-1 {
            margin: 0 0 20px 0;
        }

        #margin-bottom-2 {
            margin: 0 0 20px 0;
        }

        #margin-bottom-3 {
            margin: 0 0 20px 0;
        }

        #margin-bottom-7 {
            margin: 0 0 20px 0;
        }

        /* General and Common Styles */
        .section-head {
            padding: 0 30px;
        }

        .dropdown-menu {
            position: relative;
            background: transparent;
        }

        /* mobile navigation
        -------------------------------------------------------------------- */
        #nav-wrap {
            font: 11px 'montserrat-regular', sans-serif;
            background: transparent !important;
            letter-spacing: 1.5px;
            margin: 0;
            color: #515968;
            position: absolute;
            top: 0;
            right: 0;
        }

        #nav-wrap > a, #nav-wrap > label {
            text-align: left;
            border: none;
            color: #fff;
            font-size: 12px;
            line-height: 80px;
            float: right;

            text-shadow: none;
            color: transparent;

            position: relative;
            top: 0px;
            right: 20px;
        }

        #nav-wrap > a:before {
            font-family: 'FontAwesome';
            content: "\f0c9";
            color: #fff;
            margin: 0;
            font-size: 25px;
            line-height: 110px;
            text-align: left;
            display: block;
            float: right;
        }

        #nav-wrap ul#nav .dropdown label:before {
            font-family: 'FontAwesome';
            content: "\f0c9";
            color: #fff;
            margin: 0;
            font-size: 25px;
            line-height: 73px;
            text-align: center;
            display: block;

        }


        /* hide menu panel */
        #nav-wrap ul#nav {
            padding: 10px 36px 10px 36px;
            background: linear-gradient(180deg, rgba(42, 66, 95, 1) 1%, rgb(67, 118, 148) 100%);
            /*#575757*/
            height: auto;
            display: none;
            clear: both;
            width: auto;
            margin-top: 100px;
            position: relative;
            top: 0;
            right: 0;
        }

        /* display toggle buttons */
        .no-js #nav-wrap:not( :target ) > a:first-of-type,
        .no-js #nav-wrap:target > a:last-of-type {
            display: block;
        }

        .js #nav-wrap a {
            display: block;
        }

        /* display menu panels - no JS*/
        .no-js #nav-wrap:target > ul#nav {
            display: block;
        }

        ul#nav li {
            display: block;
            height: auto;
            border-bottom: 1px solid #2D2E34;
        }


        ul#nav li a {
            display: block;
            width: auto;
            margin: 0;
            padding: 0;
            margin: 12px 0;
            line-height: 16px; /* reset line-height from 54px */
            border: none;
        }

        ul#nav .border-none {
            border-bottom: none;
        }

        ul#nav #border-top {
            border-bottom: 1px solid #2D2E34;
        }

        /* hide social icons */
        .header-social {
            display: none;
        }

        /* Остальные стили */
        #nav-wrap ul#nav .dropdown label {
            display: block;
            text-align: center;
            width: 100%;
        }

        #nav-wrap ul#nav .dropdown label:before {
            display: none; /* Уберите содержимое, чтобы убрать иконку */
            /* Добавьте другие необходимые стили */
        }


        /* Header Styles
        -------------------------------------------------------------------- */
        header .logo {
            margin: 0 auto;
            position: fixed;
            left: 50%;
            transform: translate(-50%);
        }

        .logo-img {
            width: 180px;
            margin: 0 auto;
        }

        /* Features Section
        --------------------------------------------------------------------- */
        #features .feature {
            margin-top: 12px;
            margin-bottom: 60px;
        }

        #features .right {
            margin: 0 auto;
            float: none;
        }

        #features .left {
            margin: 0 auto;
            float: none;
        }

        #features h3 {
            text-align: center;
        }

        /* Screenshots
        ------------------------------------------------------------------- */
        #screenshots-wrapper {
            width: 80%;
            margin: 0 auto;
        }

        #screenshots-wrapper .columns {
            margin-bottom: 36px;
        }

        /* footer
        ------------------------------------------------------------------------ */
        footer {
            text-align: center;
        }

        footer .info {
            padding-right: 30px;
        }

        footer .info p {
            margin-bottom: 18px;
        }

        footer h3:before {
            text-align: center;
        }

        footer .right-cols {
            width: 90% !important;
            margin: 0 auto;
            margin-bottom: 42px;
            text-align: center;
        }

        footer .right-cols .columns {
            float: left;
            padding: 0 30px;
        }

        footer .right-cols .columns:last-child {
            clear: both;
            float: left;
        }

        /* Go To Top Button */
        #go-top {
            position: absolute;
            top: -24px;
            left: 50%;
            margin-left: -30px;
            text-align: center;
            z-index: 889;
        }

        #go-top a {
            text-decoration: none;
            border: 0 none;
            display: block;
            width: 60px;
            height: 60px;
            background: #132B4A;

            -webkit-transition: all 0.2s ease-in-out;
            -moz-transition: all 0.2s ease-in-out;
            -o-transition: all 0.2s ease-in-out;
            -ms-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;

            color: #fff;
            font-size: 21px;
            line-height: 60px;
            border-radius: 100%;
        }

        #go-top a:hover {
            background: #365471;
        }

    }

    @media only screen and (max-width: 1200px) {
        .uk-navbar-nav {
            font-size: 13px;
        }
    }
}


    @media only screen and (max-width: 1024px) {

        /* mobile navigation
        -------------------------------------------------------------------- */
        #nav-wrap {
            width: 100%;
        }

        #nav-wrap ul#nav {
            width: 100%;
            float: none;
            right: 0;
        }

        /* Footer
        ------------------------------------------------------------------- */
        footer .right-cols .columns {
            padding: 0 10px;
        }

    }

    /* make sure the menu is visible on larger screens
      -------------------------------------------------------------------------- */
    @media only screen and (max-width: 1400px) {


    }



    @media only screen and (max-width: 1199px) {
        .fixed-size {
            height: 110px;
            padding: 20px 30px;
        }
    }

    @media only screen and (max-width: 1034px) {
        .fixed-size {
            height: 110px;
            padding: 20px 30px;

        }

        .video-yt {
            width: 600px;
            height: 350px;
        }

        .row .six {
            width: 90%; /*TODO размер слайдера и текста с СВ*/
        }
    }

    @media only screen and (max-width: 878px) {
        .video-yt {
            width: 600px;
            height: 300px;
        }
    }

    @media only screen and (max-width: 768px) {
        .animated-text {
            width: 45.5rem;
            color: white;
            font-size: 35px;
            white-space: nowrap;
            overflow: hidden;
            border-right: 3px solid white;
            animation: cursor 0.95s step-end infinite, printed_text 5s steps(26);
        }

        .custom-button {
            font-size: 14px;
            padding: 15px 20px;
        }

        .wrapper-animated-text {
            top: 44%;
        }

        .oua-logo-img {
            margin: 6px 0 0 0;
            width: 90px;
            height: auto;
        }

        header {
            background: linear-gradient(to bottom, #0A2B4B, #c3f3ff) no-repeat fixed;
            height: 110px;
            width: 100%;
        }

        .row .six {
            width: 90%; /*TODO размер слайдера и текста с СВ*/
        }
    }

    .dropdown-toggle:hover {
        color: #ffffff;
    }

    @media only screen and (max-width: 545px) {
        .mobile-size {
            padding: 0;
            margin: 0 20px;
        }
    }


    @media only screen and (max-width: 520px) {
        .animated-text {
            width: 32.5rem;
            font-size: 25px;
        }

        .custom-button {
            font-size: 12px;
            padding: 15px 20px;
        }

        .wrapper-animated-text {
            top: 43%;
        }
    }

    @media only screen and (max-width: 345px) {
        .animated-text {
            width: 22.3rem;
            font-size: 17px;
        }

        .custom-button {
            font-size: 11px;
            padding: 15px 15px;
        }

        .wrapper-animated-text {
            top: 44%;
        }
    }






