@media only screen and (max-width: 900px) {
    section {
        opacity: unset;
        transform: unset;
        transition: unset;
    }

    body {
        text-align: left;
    }
}

@media only screen and (max-width: 1519px) {
    .display {
        flex-direction: column;
        align-items: center;
    }

    .fixed-size {
        height: 150px;
        padding: 20px 30px;

    }

    .six.columns.right.text, .six.columns.left.text {
        margin: 10px 0 0 0;
    }
}

@media only screen and (max-width: 1450px) {
    .all-logos-UN {
        width: 185px;
        height: auto;
    }

    .uk-navbar-nav {
        font-size: 13px;
    }

    .uk-navbar-dropdown {
        width: auto;
        padding: 15px;
    }

    #offcanvas-nav .uk-offcanvas-bar {
        margin: 90px 0 0 0;
    }

    .uk-navbar-dropdown {
        width: 213px;
    }
}

@media only screen and (max-width: 1280px) {
    /* Header Styles
    -------------------------------------------------------------------- */
    .uk-text-large {
        font-size: 16px;
    }

    header .logo {
        margin: 0 auto;
        position: fixed;
        left: 50%;
        transform: translate(-50%);
    }

    .logo-img {
        width: 210px;
        margin: 0 auto;
    }
}


@media only screen and (max-width: 768px) {
    body {
        font-size: 14px;
    }

    .animated-text-mainPage {
        width: 33rem;
        font-size: 33px;
        height: 3.1rem;
        animation: cursor 0.95s step-end infinite, printed_text 3s steps(30);
    }
    .animated-text-mainPage-en {
        width: 26.7rem;
        font-size: 33px;
        height: 3.1rem;
        animation: cursor 0.95s step-end infinite, printed_text 3s steps(25);
    }
    .custom-button-mainPage {
        font-size: 14px;
        padding: 15px 20px;
        white-space: nowrap;
    }

    .wrapper-animated-text-mainPage {
        top: 44%;
    }

    .all-logos-UN {
        width: 170px;
        height: auto;
    }

    .row .six {
        width: 90%;
    }
}

@media only screen and (max-width: 520px) {
    .animated-text-mainPage {
        width: 23rem;
        font-size: 23px;
        height: 2.79rem;
        animation: cursor 0.95s step-end infinite, printed_text 3s steps(30);
    }
    .animated-text-mainPage-en {
        width: 19rem;
        font-size: 23px;
        height: 2.79rem;
        animation: cursor 0.95s step-end infinite, printed_text 3s steps(20);
    }
    .custom-button-mainPage {
        font-size: 12px;
        padding: 15px 20px;
    }

    .wrapper-animated-text-mainPage {
        top: 43%;
    }
}

@media only screen and (max-width: 345px) {
    .animated-text-mainPage {
        width: 17rem;
        font-size: 17px;
        animation: cursor 0.95s step-end infinite, printed_text 3s steps(30);
    }
    .animated-text-mainPage-en {
        width: 14rem;
        font-size: 17px;
        animation: cursor 0.95s step-end infinite, printed_text 3s steps(30);
    }
    .custom-button-mainPage {
        font-size: 11px;
        padding: 15px 15px;
    }

    .wrapper-animated-text-mainPage {
        top: 44%;
    }
}








