/*=====================================================================

TOC:
a. General Styles
b. Swiper-Slider styles
c. Video styles
d. Text-animation styles
e. Go-Top-Button styles
f. Column styles
g. Footer styles
h. Common styles

===================================================================== */


/*---------------------------------------------------------------------*/
/*General styles*/
/*---------------------------------------------------------------------*/
html, body {
    scroll-behavior: smooth;
    position: relative;
    height: 100%;
}

body {
    background: linear-gradient(to bottom, #07575b, #c4dfe6) no-repeat fixed;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    text-align: justify;
}

header {
    background: linear-gradient(to bottom, #07575b, #c4dfe6) no-repeat fixed;
    height: 115px;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 990;
}

section {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.8s ease, transform 0.8s ease;
}

section.in-view {
    opacity: 1;
    transform: translateY(0);
}

li {
    text-align: center;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

footer {
    color: #3c4753;
    font-size: 17px;
    line-height: 24px;
    position: relative;
}

.oua-logo-img {
    width: 100px;
    height: auto;
}

/*---------------------------------------------------------------------*/


/*---------------------------------------------------------------------*/
/*Swiper-Slider styles*/
/*---------------------------------------------------------------------*/
.swiper {
    width: 100%;
    max-width: 800px;
    height: auto;
    margin: 0;
}

.swiper-button-next::after, .swiper-button-prev::after {
    font-size: 35px !important;
    font-weight: bold !important;
    color: #ffffff;
    text-shadow: 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.uk-navbar-dropdown-nav li a {
    display: block;
}

#offcanvas-nav .uk-offcanvas-bar {
    background: linear-gradient(to bottom, #07575b, #c4dfe6) no-repeat fixed;
    height: 430px;
    margin: 115px 0 0 0;
}

.uk-navbar-nav > li > a:hover,
.uk-navbar-nav > li > a:focus,
.uk-navbar-nav > li > a:active,
.uk-nav > li > label:hover,
.uk-nav > li > a:hover {
    color: #66a5ad;
}

/*---------------------------------------------------------------------*/


/*---------------------------------------------------------------------*/
/*Video styles*/
/*---------------------------------------------------------------------*/
.video-yt {
    width: 900px;
    height: 500px;
}

.video-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.img, .video {
    border-radius: 10px;
}

/*---------------------------------------------------------------------*/


/*---------------------------------------------------------------------*/
/*Go-Top-Button styles*/
/*---------------------------------------------------------------------*/
.custom-button {
    background-color: rgba(0, 0, 0, 0.6);
    color: #e1e1e1;
    font-size: 17px;
    border-radius: 5px;
    padding: 20px 30px;
    border: none;
    cursor: pointer;
}

.custom-button:hover {
    background-color: rgba(62, 225, 255, 0.56);
}

.go-top-container {
    text-align: center;
}

.go-top-button {
    display: inline-block;
    background: #1d5e56;
    padding: 10px 20px;
    border-radius: 50px;
}

.go-top-button:hover {
    text-decoration: none;
    background: #66a5ad;
}

.go-top-text {
    height: auto;
    width: auto;
    max-width: 20px;
    max-height: 20px;
}

.button-period {
    margin: 40px 0 40px 0
}

/*---------------------------------------------------------------------*/


/*---------------------------------------------------------------------*/
/*Column styles*/
/*---------------------------------------------------------------------*/
#universities-carousel, #video-carousel, #sv-information {
    padding-top: 155px;
    padding-bottom: 78px;

}

#universities-carousel .feature, #video-carousel .feature, #sv-information .feature {
    margin-top: 30px;
    margin-bottom: 54px;

}

.feature {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}

.container-left-text,
.container-right-text {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
}

.feature-media {
    flex: 1;
    max-width: 100%;
    height: auto;
}

.left.text,
.right.text {
    padding: 0 20px;
}

.six.columns.right.text, .six.columns.left.text {
    border-radius: 20px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.2);
    /*margin: 0 15px 0 15px;
    width: auto;*/
}


.fix-position {
    margin-top: 150px;
}


.margin-fixed-right {
    margin: 0 0 10px 0;
}


.margin-fixed-left {
    margin-right: 0;
    margin-left: 20px;
    margin-bottom: 20px;
}


.margin-fixed-right {
    margin-right: 20px;
}

/*---------------------------------------------------------------------*/


/*---------------------------------------------------------------------*/
/*Footer styles*/
/*---------------------------------------------------------------------*/
footer ul li a,
footer ul li a:visited {
    color: #3c4753;
}

.footer-social-media {
    margin: 10px 0 0 0;
    display: flex;
    gap: 15px;
}

.footer-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 70px 20px;
}

/*---------------------------------------------------------------------*/


/*---------------------------------------------------------------------*/
/*Common styles*/
/*---------------------------------------------------------------------*/
.photo-text {
    text-align: center;
    padding-top: 5px;
}

.img-misc {
    border-radius: 10px;
}

.social-media-item-wrapper .social-media-color,
.social-media-item-wrapper:hover .social-media-dark {
    display: none;
    pointer-events: none;
}

.social-media-item-wrapper:hover .social-media-color {
    display: inline;
    pointer-events: auto;
}

.border-bottom {
    border-bottom: 2px solid #2D2E34;
    padding: 0 0 10px 0;
    text-align: center;
}

.years-font-size {
    font-size: 18px;
}

#universities-carousel h3, #video-carousel h3, #sv-information h3 {
    font: 16px/24px 'montserrat-bold', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    /* color: #ffffff; */
}

/*---------------------------------------------------------------------*/
