@media only screen and (max-width: 900px) {

    section{
        opacity: unset;
        transform: unset;
        transition: unset;
    }

    section.in-view {
        opacity: unset;
        transform: unset;
    }

    body {
        text-align: left;
    }

    #features .feature {
        margin-bottom: 30px;
    }

    #features .right {
        padding-left: 18px;
    }



    /* Footer
    ------------------------------------------------------------------- */
    footer .right-cols .columns {
        width: 50% !important;
    }

    footer .right-cols .columns:last-child {
        clear: left;
        float: left;
    }

}

@media only screen and (max-width: 1450px) {
    header {
        height: 90px;
    }

    .all-logo-img {
        width: 160px;
        height: auto;
    }

    .uk-navbar-nav {
        font-size: 13px;
    }

    .uk-navbar-dropdown {
        width: auto;
        padding: 15px;
    }

    #offcanvas-nav .uk-offcanvas-bar {
        margin: 90px 0 0 0;
    }

    .uk-navbar-dropdown{
        width: 213px;
    }
}

@media only screen and (max-width: 1280px) {
    /* Header Styles
    -------------------------------------------------------------------- */
    .uk-text-large{
        font-size: 16px;
    }
    header .logo {
        margin: 0 auto;
        position: fixed;
        left: 50%;
        transform: translate(-50%);
    }

    .logo-img {
        width: 210px;
        margin: 0 auto;
    }


    /*#go-top {
        position: absolute;
        top: -24px;
        left: 50%;
        margin-left: -30px;
        text-align: center;
        z-index: 889;
    }

    #go-top a {
        text-decoration: none;
        border: 0 none;
        display: block;
        width: 60px;
        height: 60px;
        background: #543c29;

        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        -ms-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;

        color: #fff;
        font-size: 21px;
        line-height: 60px;
        border-radius: 100%;
    }

    #go-top a:hover {
        background: #93654d;
    }*/

}


@media only screen and (max-width: 1199px) {
    .fixed-size {
        height: 110px;
        padding: 20px 30px;
    }
}

@media only screen and (max-width: 1034px) {
    .fixed-size {
        height: 150px;
        padding: 20px 30px;

    }

    .display {
        flex-direction: column;
        align-items: center;

    }

    .six.columns.right.text, .six.columns.left.text {
        margin: 10px 0 0 0;
    }

    .row .six {
        width: 90%;
    }
}

@media only screen and (max-width: 878px) {

}

@media only screen and (max-width: 768px) {
    .animated-text {
        width: 51rem;
        color: white;
        font-size: 35px;
        white-space: nowrap;
        overflow: hidden;
        border-right: 3px solid white;
        animation: cursor 0.95s step-end infinite, printed_text 5s steps(26);
    }

    .custom-button {
        font-size: 14px;
        padding: 15px 20px;
        white-space: nowrap;
    }

    .wrapper-animated-text {
        top: 44%;
    }

    .all-logo-img {
        width: 170px;
        height: auto;
    }

    header {
        background: #1f150e no-repeat fixed;
        height: 100px;
        width: 100%;
    }

    .row .six {
        width: 90%;
    }
}

@media only screen and (max-width: 520px) {
    .animated-text {
        width: 33.5rem;
        font-size: 23px;
    }

    .custom-button {
        font-size: 12px;
        padding: 15px 20px;
    }

    .wrapper-animated-text {
        top: 43%;
    }
}

@media only screen and (max-width: 345px) {
    .animated-text {
        width: 24.9rem;
        font-size: 17px;
    }

    .custom-button {
        font-size: 11px;
        padding: 15px 15px;
    }

    .wrapper-animated-text {
        top: 44%;
    }
}






